/*
	ZeroFour by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,select,textarea
	{
		line-height: 1.75em;
		font-size: 10pt;
		letter-spacing: 0;
	}

/*
	h2, h3, h4, h5, h6
	{
		font-size: 13pt !important;
	}
        */

	h2
	{
		line-height: 1.5em;
	}

	/* Section/Article */

		section,
		article
		{
			clear: both;
			margin-bottom: 4em !important;
		}

	/* Image */
                #citizen-star
                {
                        margin: 0.8em auto;
                }

		.image.left
		{
			width: 25%;
			margin-bottom: 2em !important;
		}

	/* Button */	
	
		.button
		{
			width: 100%;
			font-size: 1.1em;
			text-align: center;
			padding: 1em 0 1em 0;
			border-radius: 8px;
		}

	/* List */

		ul
		{
		}
		
			ul.menu
			{
			}
			
				ul.menu li
				{
					display: block;
					border: 0 !important;
					padding: 0 !important;
					margin: 0 !important;
				}

			ul.actions
			{
			}

				ul.actions li
				{
					display: block;
					padding: 0;
					margin: 1em 0 0 0;
				}
				
					ul.actions li:first-child
					{
						margin-top: 0;
					}

	/* Box */

		.box
		{
		}

			.box.excerpt
			{
			}

				.box.excerpt .image-left
				{
					margin-right: 0;
				}

				.box.excerpt header
				{
					margin-left: 32%;
				}

				.box.excerpt p
				{
					clear: both;
				}

			.box.feature1
			{
			}

				.box.feature1 section
				{
					margin-bottom: 2em !important;
				}

/*********************************************************************************/
/* Mobile UI                                                                     */
/*********************************************************************************/

	#titleBar
	{
		position: relative;
                background-color: #2B4078;
                background-color: rgba(43,64,120,1);
                /*
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 0px 2px rgba(255,255,255,0.075), 0px 1px 6px 0px rgba(0,0,0,0.35);
		text-shadow: -1px -1px 0 rgba(0,0,0,1);
                */
	}

		#titleBar .title
		{
			display: block;
			text-transform: uppercase;
			font-weight: 800;
			letter-spacing: 0.04em;
			color: #fff;
			line-height: 44px;
			text-align: center;
		}

		#titleBar .toggle
		{
			position: absolute;
			left: 0;
			top: 0;
			width: 60px;
			height: 44px;
			opacity: 0.25;
		}
		
			#titleBar .toggle:before
			{
				display: inline-block;
				font-family: FontAwesome;
				text-decoration: none;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;
				
				font-size: 18px;
				width: 44px;
				height: 44px;
				line-height: 44px;
				text-align: center;
				color: #fff;
				content: '\f0c9';
			}

			#titleBar .toggle:active
			{
				opacity: 0.5;
			}

	#navPanel
	{
                background-color: #FFF;
		box-shadow: inset -1px 0px 0px 0px rgba(0,0,0,0.5), inset -2px 0px 0px rgba(255,255,255,0.15), inset -2px 0px 10px 0px rgba(0,0,0,0.35);
	}

		#navPanel .link
		{
			display: block;
			color: #000;
			text-decoration: none;
			height: 44px;
			line-height: 44px;
			padding: 0 1em 0 1em;
			text-transform: None;
                        font-family: 'Open Sans', sans-serif;
			font-weight: 500;
			font-size: 0.95em;
			letter-spacing: 0.075em;
		}

			#navPanel .link:hover
			{
                                background-color: #DDD;
                        }

			#navPanel .link:active
			{
                                background-color: #BBB;
                        }

			#navPanel .link:first-child
			{
				border-top: 0;
                                padding-top: 60px;
                                background-color: #F05040;
                                background-color: rgba(240,80,64,1);
                                background: url(../images/star_white.svg) center 20px no-repeat, url(../images/red_bkg.svg)center no-repeat;
                                color: #FFF;
                                height: 110px;
			}

                        #navPanel .current_page_item {
                                background-color: #DDD;
                        }

                        .location-form-container
                        {
                                margin-top: 0;
                        }

			#navPanel .link:hover:first-child
			{
                                background-color: #FF6454;
                                background-color: rgba(255,100,84,1);
                        }

			#navPanel .link:active:first-child
			{
                                background-color: #C82818;
                                background-color: rgba(200,40,24,1);
			}

			#navPanel .link:last-child
			{
				border-bottom: 0;
			}

		#navPanel .indent-1 { display: inline-block; width: 1em; }
		#navPanel .indent-2 { display: inline-block; width: 2em; }
		#navPanel .indent-3 { display: inline-block; width: 3em; }
		#navPanel .indent-4 { display: inline-block; width: 4em; }
		#navPanel .indent-5 { display: inline-block; width: 5em; }
		#navPanel .depth-0 { color: #000; }

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		background-position: 35% 50%;
	}

		.homepage #header-wrapper
		{
			padding-top: 44px;
		}
	
	#main-wrapper
	{
		/*padding-top: 44px;*/
	}

		.homepage #main-wrapper
		{
			padding-top: 0;
		}

	#footer-wrapper
	{
		padding: 2em 20px 0 20px;
	}

	.wrapper
	{
		padding: 3em 20px 1em 20px;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		display: none;
	}

	.title
	{
                font-family: 'Open Sans', sans-serif;
                font-size: 1.2em;
	}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		display: none;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 0 20px 40px 20px;
	}

		#banner h2
		{
                        text-align: center;
			font-size: 36pt !important;
		}
		
		#banner h2 br
		{
			display: none;
		}

		#banner p
		{
			margin: 0 0 1em 0;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

	#copyright
	{
		margin-top: 0;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}

	
.startButton {
	margin-top: 0px;
} 
