<!-- Header -->
<div id="header-wrapper">
  <a href="/#/">
    <img id="citizen-star" src="images/star.svg" alt="Citizen Star">
  </a>
  <div class="container">

    <!-- Header -->
    <header id="header">
      <div class="inner">

        <!-- Logo -->
        <h1><a href="/#/" id="logo" class="uppercase">Citizen</a></h1>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a class="location" href="#">
                <img src="images/pin.svg" alt="GPS pin">
                Find me</a></li>
            <li><a href="/#/feed">Feed</a></li>
            <li><a href="/#/reps">Reps</a></li>
            <li><a href="/#/links">Links</a></li>
            <li class="current_page_item"><a href="/#/about">About</a></li>
          </ul>
        </nav>

      </div>
    </header>
  </div>
</div>

    <!-- Banner -->
    <div id="about">
      <h3>What we’re all about</h3>
      <p>In a world of people who want to be good citizens but don’t know how to start, Citizen is all about engaging people in civic life in an easy and powerful way. Everyone should have easy access to basic civic information based on their current location, or any address.</p>

      <h3>The #CitizenUp Movement</h3>
      <p>#CitizenUp is all about telling people it’s not okay to be disengaged citizens. Staying informed and engaged is about being aware of the issues and the pulse of civic life. The Citizen project is all about connecting citizens to the pulse of civic life and its basic information in a low impact, minimally-invasive way. Let’s citizenup and bring patriotism back to the U.S.A.</p>


      <h3>What we hope will happen ;)</h3>
      <p>If dreams comes can come true, Citizen will be used by local officials all around the country to engage and inform their citizens on civic matters and basic information. This world is a noisy place, and Citizen allows people to be informed, engaged citizens without having to deal with the messiness of government websites, transient officials, and changes of locations.</p>

      <p>IN THE NEAR FUTURE, we hope to offer a notification feature that alerts Citizens of messages intended for them from their representatives. The alert would be sent when an applicable representative uses #myconstituency, or another specified hashtag, within their tweet.</p>

      <p>#myconstituency is intended to be used only when representatives have a message for their constituency that is a call to action or a information that applies to their constituency’s civic life, rather than just a promotional message for a broader issue or cause.</p>

      <h3>How it works</h3>
      <p>The web app revolves around providing the individual location-basic civic information. The representative information comes from developers.google.com/civic-information/. The messages comes from Twitter.</p>

      <h3>Contributors</h3>
      <ul>
        <li>Wes Nelson</li>
        <li>Mara Kim</li>
        <li>Kenneth Kloeppel</li>
        <li>Paul Sunderhaus</li>
        <li>Kate Brady</li>
        <li>Kimberly Lewis</li>
        <li>Hakan Tunc</li>
      </ul>
    </div>
  </div>
</div>
