<!-- Header -->
<div id="header-background">
  <div id="header-wrapper">
    <a href="/#/home">
      <img id="citizen-star" src="images/star.svg" alt="Citizen Star">
    </a>
    <div class="container">

      <!-- Header -->
      <header id="header">
        <div class="inner">

          <!-- Logo -->
          <h1><a href="/#/home" id="logo">Citizen</a></h1>

          <!-- Nav -->
          <nav id="nav">
            <ul>
              <li class="location-container">
                <a class="location" href="#">
                  <img src="images/pin.svg" alt="GPS pin">
                  Current Location</a></li>
              <li class="current_page_item"><a href="/#/feed">Feed</a></li>
              <li><a href="/#/reps">Reps</a></li>
              <li><a href="/#/links">Links</a></li>
              <li><a href="/#/about">About</a></li>
            </ul>
          </nav>

        </div>
      </header>

      <div class="centered">
        <!-- Article list -->
        <section class="box article-list">

          <!-- Excerpt -->
          <article class="box excerpt">
            <a href="#" class="image left">
              <img alt="" />
            </a>
            <div>
              <header>
                <span class="date">July 24</span>
                <h3><a href="#">Repairing a hyperspace window</a></h3>
              </header>
              <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus 
              semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis, 
              feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
            </div>
          </article>

          <!-- Excerpt -->
          <article class="box excerpt">
            <a href="#" class="image left">
              <img alt="" />
            </a>
            <div>
              <header>
                <span class="date">July 18</span>
                <h3><a href="#">Adventuring with a knee injury</a></h3>
              </header>
              <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus 
              semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis, 
              feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
            </div>
          </article>

          <!-- Excerpt -->
          <article class="box excerpt">
            <a href="#" class="image left">
              <img alt="" />
            </a>
            <div>
              <header>
                <span class="date">July 14</span>
                <h3><a href="#">Preparing for Y2K38</a></h3>
              </header>
              <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus 
              semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis, 
              feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
            </div>
          </article>

        </section>
      </div>
    </div>
  </div>
</div>
