<!-- Header -->
<div ng-controller="HomeCtrl" id="header-background">
  <div id="header-wrapper-gradient">
    <a href="/#/">
      <img id="citizen-star" src="images/star.svg" alt="Citizen Star">
    </a>
    <div class="container">

      <!-- Header -->
      <header id="header">
        <div class="inner">

          <!-- Logo -->
          <h1><a href="/#/" id="logo">Citizen</a></h1>

          <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><a class="location" href="#">
                  <img src="images/pin.svg" alt="GPS pin">
                  Find me</a></li>
              <li><a href="/#/feed">Feed</a></li>
              <li><a href="/#/reps">Reps</a></li>
              <li><a href="/#/links">Links</a></li>
              <li><a href="/#/about">About</a></li>
            </ul>
          </nav>

        </div>
      </header>

      <!-- Banner -->
      <div id="banner">
        <div class="left">
          <h2>Become an<br/>
            engaged<br/>
            citizen</h2>
            <p>without even trying.</p>
            <p class="attitude">Boost the &nbsp;<strong>#CitizenUp</strong> movement.</p>
        </div>
        <div class="right">
          <div id="location-form-container" class="location-form-container" ng-class="lfcClass">
            <span></span>
            <form id="location-form" method="post">
              <input ng-show="startDone" ng-model="userAddress" type="text" name="address" placeholder="Address"></input><br/>
              <input ng-show="startDone" ng-model="userCity" type="text" name="city" placeholder="City"></input><br/>
              <input ng-show="startDone" ng-model="userState" type="text" name="state" placeholder="State"></input><br/>
              <input ng-show="startDone" ng-model="userZip" type="text" name="zip" placeholder="Zip"></input><br/>
              <img ng-show="spin" ng-src="images/Ajax-loader.gif"><br/>
              <input ng-show="!startDone" ng-click="startClick()" type="button" value="Start!" class="button big"></input><br/>
              <input ng-show="startDone" type="submit" value="Submit" class="button big"></input><br/>
            </form>
          </div>
          <small>
            We don't record any data! You are completely anonymous.
          </small>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Main Wrapper -->
<div id="main-wrapper">
  <div class="wrapper style1">
    <div class="inner">

      <!-- Feature 1 -->
      <section class="container box feature1">
        <div class="row">
          <div class="12u">
            <header class="first major">
              <h2>It's all about where you are!</h2>
              <p>Location-based civic information. No sign ups required.</p>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="4u">
            <section>
              <a href="/#/feed" class="image featured constant">
                <img src="images/messages.svg" alt="Messages">
              </a>
              <h3>Messages for you from your local Reps.</h3>
            </section>
          </div>
          <div class="4u">
            <section>
              <a href="/#/reps" class="image featured constant">
                <img src="images/reps.svg" alt="Representatives" />
              </a>
              <h3>All the officials who are representing you.</h3>
            </section>
          </div>
          <div class="4u">
            <section>
              <a href="/#/links" class="image featured constant">
                <img src="images/resources.svg" alt="Resources" />
              </a>
              <h3>Links to your local resources.</h3>
            </section>
          </div>
        </div>
      </section>

    </div>
  </div>

  <div class="wrapper style3">
    <div class="inner">
      <div class="container">
        <div class="row">
          <div class="8u">

            <!-- Article list -->
            <section class="box article-list">
              <h2>Messages for You</h2>

              <!-- Excerpt -->
              <article class="box excerpt">
                <a href="#" class="image left"></a>
                <div>
                  <header>
                    <span class="date">July 24</span>
                    <h3><a href="#">Repairing a hyperspace window</a></h3>
                  </header>
                  <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus
                    semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis,
                    feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
                </div>
              </article>

              <!-- Excerpt -->
              <article class="box excerpt">
                <a href="#" class="image left"></a>
                <div>
                  <header>
                    <span class="date">July 18</span>
                    <h3><a href="#">Adventuring with a knee injury</a></h3>
                  </header>
                  <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus
                    semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis,
                    feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
                </div>
              </article>

              <!-- Excerpt -->
              <article class="box excerpt">
                <a href="#" class="image left"></a>
                <div>
                  <header>
                    <span class="date">July 14</span>
                    <h3><a href="#">Preparing for Y2K38</a></h3>
                  </header>
                  <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus
                    semper mod quisturpis nisi consequat etiam lorem. Phasellus quam turpis,
                    feugiat et sit amet ornare in, hendrerit in lectus semper mod quis eget mi dolore.</p>
                </div>
              </article>

            </section>
          </div>
          <div class="4u">

            <!-- Spotlight -->
            <section class="box spotlight">
              <h2>Local Resources</h2>
              <article>
                <h3>Register to Vote</h3>
                <p>State voter registrarion page</p>
                <a id="voter-registration"
                  href="http://www.tn.gov/sos/election/registration.htm">
                  www.tn.gov/sos/election/registration.htm</a>
              </article>
              <article>
                <h3>Change Address</h3>
                <p>Update address with the state</p>
                <a id="change-address"
                  href="http://www.tn.gov/sos/election/address_changes.htm">
                  www.tn.gov/sos/election/address_changes.htm</a>
              </article>
              <article>
                <h3>Non-Emergency #</h3>
                <p>For non-life-threatening emergencies</p>
                <a id="non-emergency" href="tel://6158628600">(615) 862-8600</a>
              </article>
              <article>
                <h3>Request Public Work</h3>
                <p>Traffic light issues, graffiti, debri, paving, etc.</p>
                <a id="public-works" href="tel://6158628600">(615) 862-8600</a>
              </article>
            </section>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
