<!-- Header -->
<div id="header-background">
  <div id="header-wrapper">
    <a href="/#/home">
      <img id="citizen-star" src="images/star.svg" alt="Citizen Star">
    </a>
    <div class="container">

      <!-- Header -->
      <header id="header">
        <div class="inner">

          <!-- Logo -->
          <h1><a href="/#/home" id="logo">Citizen</a></h1>

          <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><a class="location" href="#">
                  <img src="images/pin.svg" alt="GPS pin">
                  Find me</a></li>
              <li><a href="/#/feed">Feed</a></li>
              <li><a href="/#/reps">Reps</a></li>
              <li><a href="/#/links">Links</a></li>
              <li><a href="/#/about">About</a></li>
            </ul>
          </nav>

        </div>
      </header>

      <div class="centered">

        <!-- Spotlight -->
        <section class="box spotlight">
          <article class="rep-info">
            <h2 class="name">Sheri Weiner</h2>
            <h3 class="role">Dixtrict 22 Council Member</h3>
            <p class="address">
              417 W. F. Rust Court<br/>
              Nashville, TN 37221
            <p>
            <a class="email"
              href="mailto:sheri.weiner@nashville.gov">
              sheri.weiner@nashville.gov
            </a><br/>
            <a class="phone"
              href="tel://6153477544">
              (615) 347-7544
            </a>
            <p class="office">
              Metropolitan Council Office<br/>
              One Public Square, Suite 204<br/>
              P.O. Box 196300<br/>
              Nashville, TN 37219-6300
            </p>
            <a class="source"
              href="http://www.nashville.gov/Metro-Council/Metro-Council-Members/District-22-Council-Member.aspx">
              Visit Information Source &gt;&gt;
            </a>
            <hr>
            <section class="box spotlight replist">
               <ul>
                <li><a href="https://www.facebook.com/SheriWeinerforMetroCouncil">
                  Facebook</a></li>
                <li><a href="https://twitter.com/sheriweiner">
                  Twitter</a></li>
                <li><a href="https://www.linkedin.com/pub/sheri-weiner/11/8b1/7a8">
                  LinkedIn</a></li>
               </ul>
          </article>
        </section>

      </div>
    </div>
  </div>
</div>
