<!-- Header -->
<div id="header-wrapper">
  <a href="/#/">
    <img id="citizen-star" src="images/star.svg" alt="Citizen Star">
  </a>
  <div class="container">

    <!-- Header -->
    <header id="header">
      <div class="inner">

        <!-- Logo -->
        <h1><a href="/#/" id="logo">Citizen</a></h1>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a class="location" href="#">
                <img src="images/pin.svg" alt="GPS pin">
                Find me</a></li>
            <li><a href="/#/feed">Feed</a></li>
            <li class="current_page_item"><a href="/#/reps">Reps</a></li>
            <li><a href="/#/links">Links</a></li>
            <li><a href="/#/about">About</a></li>
          </ul>
        </nav>

      </div>
    </header>
  </div>
</div>


<div class="style2">
  <div class="inner">
    <div class="container">
      <!-- Spotlight -->
      <section ng-if="error!=''" class="box spotlight replist" >
        <h2 >{{error}}</h2>
      </section>
      <section ng-if="error==''" class="box spotlight replist" >
        <h2>City/Local</h2>
        <dl data-ng-repeat="nfo in localOfficials | orderBy:['sort','office']">
          <a ng-href="#/feed?repName={{nfo.linkId}}" scroll-to="header">
            <dt>{{nfo.office}}</dt>
            <dd>{{nfo.name}}</dd>
          </a>
        </dl>
        <h2>State</h2>
        <dl data-ng-repeat="nfo in stateOfficials | orderBy:['sort','office']">
          <a ng-href="#/feed?repName={{nfo.linkId}}" scroll-to="header">
            <dt>{{nfo.office}}</dt>
            <dd>{{nfo.name}}</dd>
          </a>
        </dl>

        <h2>National</h2>
        <dl data-ng-repeat="nfo in nationalOfficials | orderBy:['sort','office']"">
          <a ng-href="#/feed?repName={{nfo.linkId}}" scroll-to="header">
            <dt>{{nfo.office}}</dt>
            <dd>{{nfo.name}}</dd>
          </a>
        </dl>
      </section>
    </div>
  </div>
</div>
<script>
	function getRepDetail(repName) {
		window.location.href = '#/feed?repName='+repName;	
	}
</script>
