<div class="style2">
  <div class="inner">
    <div class="container">
      <!-- Spotlight -->
      <section ng-if="error!=''" class="box spotlight replist" >
        <h2 >{{error}}</h2>
      </section>
      <section ng-if="error==''" class="box spotlight replist" >
        <h2>City/Local</h2>
        <dl data-ng-repeat="nfo in localOfficials | orderBy:['sort','office']">
          <a ng-href="#/rep-detail?repName={{nfo.linkId}}" scroll-to="header">
            <dt>{{nfo.office}}</dt>
            <dd>{{nfo.name}}</dd>
          </a>
        </dl>
        <h2>State</h2>
        <dl data-ng-repeat="nfo in stateOfficials | orderBy:['sort','office']">
          <a ng-href="#/rep-detail?repName={{nfo.linkId}}" scroll-to="header">
            <dt>{{nfo.office}}</dt>
            <dd>{{nfo.name}}</dd>
          </a>
        </dl>

        <h2>National</h2>
        <dl data-ng-repeat="nfo in nationalOfficials | orderBy:['sort','office']"">
          <a ng-href="#/rep-detail?repName={{nfo.linkId}}" scroll-to="header">
            <dt>{{nfo.office}}</dt>
            <dd>{{nfo.name}}</dd>
          </a>
        </dl>
      </section>
    </div>
  </div>
</div>
<script>
	function getRepDetail(repName) {
		window.location.href = '#/feed?repName='+repName;	
	}
</script>
