<!-- Header -->
<div id="header-wrapper">
  <a href="/#/home">
    <img id="citizen-star" src="images/star.svg" alt="Citizen Star">
  </a>
  <div class="container">

    <!-- Header -->
    <header id="header">
      <div class="inner">

        <!-- Logo -->
        <h1><a href="/#/home" id="logo">Citizen</a></h1>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a class="location" href="#">
                <img src="images/pin.svg" alt="GPS pin">
                Find me</a></li>
            <li><a href="/#/feed">Feed</a></li>
            <li class="current_page_item"><a href="/#/reps">Reps</a></li>
            <li><a href="/#/links">Links</a></li>
            <li><a href="/#/about">About</a></li>
          </ul>
        </nav>

      </div>
    </header>

    <div class="style2">
      <div class="inner">
        <div class="container">
          <!-- Spotlight -->
          <section class="box spotlight replist">
            <h2>Local</h2>
            <dl>
              <dt>Council Member</dt>
              <dd>Sheri Weiner</dd>

              <dt>State Representative</dt>
              <dd>Jim Cooper</dd>

              <dt>School Board</dt>
              <dd>Steve Himer</dd>
            </dl>

            <h2>City</h2>
            <dl>
              <dt>Mayor</dt>
              <dd>Karl Dean</dd>

              <dt>City Clerk</dt>
              <dd>Sharon McCowan</dd>
            </dl>

            <h2>State</h2>
            <dl>
              <dt>Governor</dt>
              <dd>Bill Haslam</dd>
            </dl>
          </section>

        </div>
      </div>
    </div>
  </div>
</div>
